.logo1 {
  max-width: 100%;
  height: auto;
}
.secondColomn {
  margin-right: 0px;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  display: block;
}

.container {
  height: 100%;
  display: flex;
  vertical-align: middle;
  justify-items: center;
  box-sizing: border-box;
}
.firstColomn {
  margin-left: 80px;
  margin-top: 100px;

  width: 500px;
}
.logo {
  width: 30%;
}
