.container {
  display: flex;
  justify-content: center;
}
.logo {
  margin-top: 0px;
}
.formContainer {
  margin-top: 8px;
  display: flex;
  justify-items: center;
}
.form-eliments {
  width: 250px;
  height: 40px;
  border: 2px solid lightgrey;
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 30px;
}
.form-entities {
  width: 400px;
  height: 300px;
}
.getStarted {
  margin-bottom: 40px;
  margin-left: 120px;
}
.inputWithIcons {
  position: relative;
}
.inputWithIcons span {
  position: absolute;
  left: 30px;
  top: 25px;
  padding: 9px 8px;
  color: rgb(128, 125, 125);
}
.inputWithIcons input {
  padding-left: 40px;
}
.signIn {
  width: 300px;
  height: 45px;
  background-color: #72e5d2;
  border: 0.7px solid #72e5d2;
}
